body {
  background: #fff1e1;
}

.Title {
  text-align: center;
}

.Title-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.Top-bar {
  position: absolute;
  height: 41px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #c4c4c4;
}
