body {
  background: #fff1e1;
}

div {
  text-align: center;
}

.Logo {
  margin: 10px;
  width: 180px;
  height: 180px;
}

.Button-style {
  margin: 10px;
}

.Top-bar {
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 95%;

  background: #d2601a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
